@import url('https://fonts.googleapis.com/css?family=ABeeZee');

* {
    background-color: aquamarine;
}

body {
    font-family: ABeeZee;
    text-align: center;
}


#description {
    text-align: center;
}

#name {
    height: auto;
    border: 2px solid black;
    background-color: whitesmoke;
}

#email {
    height: auto;
    border: 2px solid black;
    background-color: whitesmoke;
}

#number {
    height: auto;
    border: 2px solid black;
    background-color: whitesmoke;
}

#dropdown {
    height: auto;
    border: 2px solid black;
    background-color: whitesmoke;
}

#additional-comments {
    height: auto;
    border: 2px solid black;
    background-color: whitesmoke;
}

#submit {
    background-color: whitesmoke;
}

#submit:hover {
    background-color:thistle;
}