@import url('https://fonts.googleapis.com/css?family=ABeeZee');

#title {
    text-align: center;
    color: black;
}

#description {
    text-align: center;
    color: black;
}

body {
    background-color:aquamarine;
    font-family: ABeeZee;
}

#form {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5%;
    padding: 1%;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#name {
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    height: 3%;
}

#email {
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    height: 3%;
}

#number {
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    height: 3%;
}

#dropdown {
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    height: 3%;
}

#additional-comments {
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    height: 12%;
}